[submodule "themes/hello-friend-ng"]
	path = themes/hello-friend-ng
	url = https://github.com/rhazdon/hugo-theme-hello-friend-ng.git
[submodule "themes/hugo-minimal-black"]
	path = themes/hugo-minimal-black
	url = https://gitlab.com/jimchr12/hugo-minimal-black
